# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL: The URL where this applet is hosted.
APP_URL="MY_APP_URL"

# JWT Secret
JWT_SECRET="grama_ruchulu_secret_key_2025"

# Google Maps
VITE_GOOGLE_MAPS_API_KEY="YOUR_GOOGLE_MAPS_API_KEY"

# Google OAuth
GOOGLE_CLIENT_ID="MY_GOOGLE_CLIENT_ID"
GOOGLE_CLIENT_SECRET="MY_GOOGLE_CLIENT_SECRET"

# Database URL (PostgreSQL)
DATABASE_URL="postgresql://neondb_owner:npg_RCymdH7MFlZ1@ep-floral-unit-aajc8j5j-pooler.westus3.azure.neon.tech/neondb?sslmode=require&channel_binding=require"

# Razorpay
RAZORPAY_KEY_ID="rzp_test_..."
RAZORPAY_KEY_SECRET="your_secret_..."
